@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-input-placeholder {
  color: #106d92;
  font-weight: bold;
  font-size: 1.1rem;
}

:-ms-input-placeholder {
  color: #106d92;
  font-weight: bold;
  font-size: 1.1rem;
}

::-ms-input-placeholder {
  color: #106d92;
  font-weight: bold;
  font-size: 1.1rem;
}

::placeholder {
  color: #106d92;
  font-weight: bold;
  font-size: 1.1rem;
}

body {
  --testiwidth: 35vw;
  --testiheight: 800px;
  user-select: none;
  background-position: top;
  background-size: contain;
  background-image: url("../Assets/frame.png"),
    -webkit-gradient(linear, left top, left bottom, from(#d7f1fc), to(white));
  background-image: url("../Assets/frame.png"), linear-gradient(#d7f1fc, white);
  background-repeat: no-repeat;
  overflow-x: hidden;
  font-family: "Roboto";
}

body aside {
  height: 100vh;
  width: 50vw;
  background-color: white;
  border-left: 1px solid darkblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2rem;
  position: fixed;
  z-index: 101;
  right: -50vw;
  top: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

body aside .fa-arrow-right {
  position: absolute;
  top: 3rem;
  right: 3rem;
  cursor: pointer;
  color: #106d92;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 0px;
}

body aside .fa-arrow-right:hover {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  color: #479fc2;
}

body aside .q-ham {
  height: 5rem;
}

body aside .ham-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2rem;
}

body aside .ham-elements .ham-link {
  text-decoration: none;
  cursor: pointer;
  color: #106d92;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0px;
}

body aside .ham-elements .ham-link:hover {
  color: #479fc2;
}

@-webkit-keyframes ham-in {
  from {
    right: -50vw;
  }

  to {
    right: 0;
  }
}

@keyframes ham-in {
  from {
    right: -50vw;
  }

  to {
    right: 0;
  }
}

@-webkit-keyframes ham-out {
  from {
    right: 0;
  }

  to {
    right: -50vw;
  }
}

@keyframes ham-out {
  from {
    right: 0;
  }

  to {
    right: -50vw;
  }
}

body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: "row";
  flex-direction: "row";
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem 4rem;
}

body header nav .q-sign,
body header nav .menu-sign,
body header nav a {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body header nav .q-sign {
  height: 5rem;
}

body header nav .menu-sign {
  height: 2rem;
}

body header nav .nav-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: "row";
  flex-direction: "row";
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.7rem;
}

body header nav .nav-elements a {
  color: #03658c;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-decoration: none;
  word-spacing: -2px;
  font-family: "Roboto Slab", serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body header nav .nav-elements a:hover,
body header nav .nav-elements a:focus {
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em #a6c6ec;
  box-shadow: 0 0.5em 0.5em -0.4em #a6c6ec;
  -webkit-transform: translateY(-0.3rem);
  transform: translateY(-0.3rem);
}

body main #page-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: "row";
  flex-direction: "row";
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1rem;
}

body main #page-1 img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 48vw;
}

body main #page-1 #home {
  padding: 4rem 0 0 10rem;
  float: left;
  text-align: left;
}

body main #page-1 #home .home-title {
  color: #03658c;
  font-weight: 500;
  font-size: 3.35rem;
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Playfair Display";
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 1rem;
}

body main #page-1 #home .home-title span {
  margin-top: -1rem;
}

body main #page-1 #home .home-content {
  color: #2897b0;
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 1px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

body main .get-vybe {
  --shadow: 0 2px 8px -1px rgba(3, 101, 140, 0.32);
  margin: 2rem auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.8rem 1.5rem;
  color: white;
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 3px;
  border-radius: 10px;
  display: block;
  text-decoration: none;
  background: #03658c;
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

body main .get-vybe:hover {
  --shadow: 0 4px 20px -2px rgba(3, 101, 140, 0.5);
  -webkit-animation: shake 1s linear;
  animation: shake 1s linear;
}

body main .vybe-extra-one {
  color: #03658c;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-family: "Playfair Display";
  width: 75vw;
  margin: 6rem auto;
  margin-bottom: 3rem !important;
  text-align: center;
}

body main .page-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: "row";
  flex-direction: "row";
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5rem;
}

body main .page-2 #how-it-works {
  padding: 0 0 4rem 4rem;
  width: 45vw;
}

body main .page-2 #how-it-works .hiw-title {
  color: #03658c;
  font-weight: 500;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Playfair Display";
}

body main .page-2 #how-it-works .hiw-content {
  margin: 2rem 0 3rem 0;
  color: #0389a6;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 0px;
}

body main .page-2 #how-it-works .hiw-bullets {
  color: #03658c;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3rem auto;
  grid-template-columns: 3rem auto;
  gap: 1rem;
}

body main .page-2 #how-it-works .hiw-bullets img {
  width: 2.2rem;
  height: 2.2rem;
}

body main .page-2 .ear-band-group {
  margin: auto;
  position: relative;
}

body main .page-2 .ear-band-group img {
  width: 30vw;
}

body main .page-2 .ear-band-group .ear-band {
  -webkit-animation: ear-band 4s none infinite;
  animation: ear-band 4s none infinite;
}

body main .page-2 .ear-band-group .circle {
  border-radius: 100%;
  background-color: white;
  position: absolute;
  z-index: -2;
  top: calc(100% - 30vw);
  left: calc(50% - 17vw);
  width: 30vw;
  height: 30vw;
}

body main .page-2 .ear-band-group .ear-frame {
  position: absolute;
  top: calc(8%);
  left: 0;
  z-index: -1;
}

body main .page-3 {
  background-color: #cff0fe;
  position: relative;
  top: -5rem;
  z-index: -3;
}

body main .page-3 #about-vybe {
  display: -ms-grid;
  display: grid;
  margin: 7rem 4rem 0 0;
  width: 40vw;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  float: right;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  gap: 1rem;
}

body main .page-3 #about-vybe .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #015a58;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0px;
  gap: 1rem;
  text-align: center;
}

body main .page-3 .hand-band,
body main .page-3 .vybe-extra-two,
body main .page-3 .vybe-band {
  width: 100%;
  position: relative;
  top: -24rem;
}

body main .page-3 .mini-band,
body main .page-3 .mini-vybe-band {
  display: none;
}

body main .page-3 .vybe-extra-two {
  color: #03658c;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin: 5rem 0;
  text-align: center;
}

body main .page-4 {
  margin-top: -24rem;
}

body main .page-4 .vybe-data {
  background-color: #cff0fe;
}

body main .page-4 .vybe-data .vb-title {
  color: #03658c;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0px;
  width: 80vw;
  font-family: "Playfair Display";
  text-align: center;
  margin: 0 auto;
}

body main .page-4 .vybe-data .vb-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
  grid-template-columns: auto auto auto;
  gap: 2rem;
  padding: 2rem 4rem;
}

body main .page-4 .vybe-data .vb-grid div {
  text-align: center;
}

body main .page-4 .vybe-data .vb-grid div div {
  color: #03658c;
  font-weight: 600;
  font-size: 8rem;
  letter-spacing: -5px;
  font-family: "Poppins";
}

body main .page-4 .vybe-data .vb-grid div span {
  color: #002649;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 1px;
}

body main .page-4 #testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: "row";
  flex-direction: "row";
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body main .page-4 #testimonials .testimonial {
  position: relative;
  top: 5rem;
  margin-left: calc(50vw - (var(--testiwidth) / 2));
}

body main .page-4 #testimonials .testimonial .box {
  width: var(--testiwidth);
  height: var(--testiheight);
  border-radius: 50px;
  -webkit-filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.17));
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.17));
  padding: 3rem 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  background-color: #daf4ff;
}

body main .page-4 #testimonials .testimonial .box .doctor-image {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  -webkit-filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.17));
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.17));
  padding: 1rem;
  background-color: #daf4ff;
}

body main .page-4 #testimonials .testimonial .box .doctor-name {
  color: #03658c;
  font-weight: 800;
  font-size: 1.7rem;
  letter-spacing: 1px;
  font-family: "Playfair Display";
  margin: 2rem 0 0.5rem 0;
}

body main .page-4 #testimonials .testimonial .box .doctor-clinic {
  color: #00354a;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0px;
  margin-top: 0.5rem;
}

body main .page-4 #testimonials .testimonial .box .doctor-id {
  text-decoration: none;
  margin-bottom: 0.5rem;
  color: #004c6a;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0px;
}

body main .page-4 #testimonials .testimonial .box .doctor-remarks {
  color: #00354a;
  font-weight: 300;
  font-size: 1.1rem;
  letter-spacing: 0px;
  border-top: 2px solid #004c6a;
  padding: 1rem 0;
  text-align: center;
}

body main .page-4 #testimonials .testimonial .box .doctor-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: "row";
  flex-direction: "row";
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.2rem;
  margin: 1.5rem 0 -0.5rem 0;
}

body main .page-4 #testimonials .testimonial .box .doctor-stars img {
  height: 35px;
}

body main .page-4 #testimonials .testimonial .left {
  top: 0;
  position: absolute;
  left: calc(-1 * var(--testiwidth) / 2);
}

body main .page-4 #testimonials .testimonial .middle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

body main .page-4 #testimonials .testimonial .right {
  z-index: 1;
  top: 0;
  position: absolute;
  left: calc(var(--testiwidth) / 2);
}

body main .page-4 #testimonials .testimonial #move-left,
body main .page-4 #testimonials .testimonial #move-right {
  position: absolute;
  top: calc(2rem + (var(--testiheight) / 2));
  color: #03658c;
  left: calc(-50vw + (var(--testiwidth) / 2) + 4rem);
}

body main .page-4 #testimonials .testimonial #move-left:hover,
body main .page-4 #testimonials .testimonial #move-right:hover {
  color: #00354a;
  cursor: pointer;
}

body main .page-4 #testimonials .testimonial #move-right {
  left: calc(50vw + (var(--testiwidth) / 2) - 4rem);
}

body main #contact-us {
  margin-top: calc(10rem + var(--testiheight));
  background-color: #106d92;
  color: #e6edea;
  font-family: "Playfair Display";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: "row";
  flex-direction: "row";
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 4rem 10rem;
}

body main #contact-us .contact-form #form-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 10px;
}

body main #contact-us .contact-form #form-1 .form-input,
body main #contact-us .contact-form #form-1 .input-btn {
  width: 28vw;
  height: 2.6rem;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 0px;
  background-color: #71adc7;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 5px;
  padding: 1rem;
}

body main #contact-us .contact-form #form-1 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: "row";
  flex-direction: "row";
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
}

body main #contact-us .contact-form #form-1 div .input-btn {
  width: calc(14vw - 2.5px);
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

body main #contact-us .contact-form #form-1 div .input-btn:hover {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #5094ac;
}

body main #contact-us .contact-form .form-2 {
  display: none;
  max-width: 40vw;
}

body main #contact-us .contact-form .form-2 .contact-form-title {
  color: #e6edea;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 1px;
}

body main #contact-us .contact-form .form-2 .contact-form-message {
  color: #e6edea;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 0px;
  font-family: "Roboto";
  margin: 1rem 0 3rem 0;
}

body main #contact-us .contact-form .form-2 .contact-form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

body main #contact-us .contact-form .form-2 .contact-form-content a {
  color: #e6edea;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-decoration: none;
}

body main #contact-us .contact-form .form-2 .contact-form-content a:hover {
  color: cyan;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body main #contact-us .contact-form .form-2 .contact-form-content a {
  margin-bottom: 1rem !important;
}

body main #contact-us .contact-form .form-2 .contact-form-extra {
  font-family: "Roboto";
  margin: 0.5rem;
}

body main #contact-us .contact-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #5094ac;
  font-weight: 400;
  font-size: 5rem;
  letter-spacing: 2px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

body main #contact-us .contact-message span {
  margin-top: -1rem;
}

body main #contact-us .contact-form-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: "row";
  flex-direction: "row";
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  gap: 1rem;
}

body main #contact-us .contact-form-logos a {
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

body main #contact-us .contact-form-logos a:hover {
  color: cyan;
}

body main footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem 0 1rem 0;
  gap: 1rem;
}

body main footer span {
  color: #293642;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 0px;
}

@-webkit-keyframes ear-band {
  0% {
    -webkit-transform: none;
    transform: none;
  }

  50% {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes ear-band {
  0% {
    -webkit-transform: none;
    transform: none;
  }

  50% {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes shake {
  1% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  5% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }

  11% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  15% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }

  21% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }

  26% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  27% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes shake {
  1% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  5% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }

  11% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  15% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }

  21% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }

  26% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  27% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@media screen and (min-width: 1300px) {
  .ham {
    gap: 3rem !important;
  }

  .hiw-title{
    transform: translateY(-3rem);
  }
  
  .hiw-content{
    transform: translateY(-1.5rem);
  }

  .q-ham {
    height: 7rem !important;
  }

  .ham-link {
    font-size: 1.7rem !important;
  }

  .vybe-extra-two {
    font-size: 1.5rem !important;
    margin: 4rem auto !important;
    width: 90vw !important;
  }

  .hiw-bullets img {
    height: 2.5rem !important;
    width: 2.5rem !important;
  }

  .q-sign {
    height: 6rem !important;
  }

  .scroll {
    font-size: 1.4rem !important;
  }

  .menu-sign {
    height: 2.4rem !important;
  }

  .hand-band {
    top: -26rem !important;
  }

  .feature {
    font-size: 1.1rem !important;
  }

  footer span {
    font-size: 1.4rem !important;
  }
}

@media screen and (min-width: 1600px) {
  .nav-elements {
    gap: 2.5rem !important;
  }

  .form-input,
  .input-btn {
    height: 3rem !important;
    font-size: 1.4rem !important;
  }

  ::-webkit-input-placeholder {
    font-size: 1.3rem !important;
  }

  :-ms-input-placeholder {
    font-size: 1.3rem !important;
  }

  ::-ms-input-placeholder {
    font-size: 1.3rem !important;
  }

  ::placeholder {
    font-size: 1.3rem !important;
  }

  .cfc-two,
  .cfc-one {
    margin: 0 !important;
    font-size: 1.7rem !important;
  }

  .contact-form-extra {
    font-size: 1.5rem !important;
  }

  .contact-form-message {
    margin: 1rem 0 !important;
    font-size: 1.6rem !important;
  }

  .contact-message {
    font-size: 6rem !important;
    line-height: 6rem !important;
  }

  .contact-message span {
    margin-bottom: 0.6rem !important;
  }

  .doctor-name {
    font-size: 1.8rem !important;
  }

  .doctor-clinic {
    font-size: 1.2rem !important;
  }

  .doctor-id {
    font-size: 1.1rem !important;
  }

  .doctor-remarks {
    font-size: 1.35rem !important;
  }

  .contact-form-title {
    font-size: 2.2rem !important;
  }

  .vb-title {
    font-size: 1.7rem !important;
  }

  .vb-grid span {
    font-size: 1.4rem !important;
  }

  .contact-form-content {
    padding: 2rem 0 !important;
  }

  .vybe-extra-two {
    font-size: 1.7rem !important;
    margin-top: 2rem !important;
  }

  #about-vybe {
    width: 44vw !important;
  }

  #about-vybe img {
    -webkit-transform: scale(1.25) !important;
    transform: scale(1.25) !important;
  }

  .feature {
    font-size: 1.5rem !important;
  }

  .hand-band {
    top: -30rem !important;
  }

  .hiw-title {
    font-size: 4rem !important;
    font-weight: 600 !important;
  }

  .hiw-content {
    font-size: 1.5rem !important;
    letter-spacing: 1px !important;
  }

  .hiw-bullets {
    font-size: 1.4rem !important;
  }

  .hiw-bullets img {
    height: 2.8rem !important;
    width: 2.8rem !important;
  }

  .get-vybe {
    font-size: 1.5rem !important;
  }

  .home-title {
    font-size: 4.2rem !important;
  }

  .scroll {
    font-size: 1.6rem !important;
  }

  footer span {
    font-size: 1.6rem !important;
  }

  #page-1 {
    margin-top: 3rem !important;
  }

  .home-content {
    font-size: 2rem !important;
  }

  .vybe-extra-one {
    margin: 5rem auto !important;
    margin-bottom: 2rem !important;
  }
}

@media screen and (min-width: 2100px) {
  .contact-form-extra {
    margin-bottom: 1.5rem !important;
  }

  .scroll {
    font-size: 1.8rem !important;
  }

  #home {
    padding-left: 20rem !important;
  }

  .home-title {
    font-size: 5.4rem !important;
  }

  .home-content {
    font-size: 2.2rem !important;
  }

  #how-it-works {
    padding-left: 8rem !important;
  }

  #how-it-works .hiw-title {
    font-size: 4.4rem !important;
  }

  #how-it-works .hiw-content,
  #how-it-works .hiw-bullets {
    font-size: 1.8rem !important;
    line-height: normal !important;
  }

  #how-it-works .hiw-content {
    margin: 4rem 0 5rem 0 !important;
  }

  #how-it-works .hiw-bullets {
    gap: 2rem 3rem !important;
  }

  #contact-us {
    padding: 5rem 15rem !important;
    padding-right: 20rem !important;
  }

  #contact-us .contact-message {
    display: -ms-grid !important;
    display: grid !important;
    gap: 1rem 2rem !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    justify-items: center !important;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
  }

  #contact-us .input-btn,
  #contact-us .form-input {
    width: 40vw !important;
  }

  #contact-us div .input-btn {
    width: calc(20vw - 2.5px) !important;
  }

  .page-3 {
    margin-top: -1rem !important;
    padding-top: 3rem !important;
  }

  .page-3 .feature {
    font-size: 1.6rem !important;
    margin: 3rem;
    gap: 2rem !important;
  }

  .page-3 .hand-band {
    top: -50rem !important;
  }

  .page-3 .vybe-extra-two {
    margin-top: -15rem !important;
    font-size: 2rem !important;
  }

  .vb-title {
    font-size: 2rem !important;
  }
}

@media screen and (max-width: 1160px) {
  body {
    --testiwidth: 45vw;
  }

  .scroll {
    font-size: 1rem !important;
  }

  .left {
    left: calc(-1 * var(--testiwidth) / 3) !important;
  }

  .right {
    left: calc(var(--testiwidth) / 3) !important;
  }

  #home {
    padding-left: 2rem !important;
  }

  .home-title {
    font-size: 3.2rem !important;
  }

  .home-content {
    font-size: 1.2rem !important;
  }

  .hand-band {
    top: -18rem !important;
  }

  .vybe-extra-two {
    width: 80vw !important;
    margin: 10rem auto 3rem auto !important;
  }

  .ear-band-group {
    top: 3rem !important;
  }

  .page-3 {
    top: -2rem !important;
  }
}

@media screen and (max-width: 990px) {
  body {
    --testiwidth: 60vw;
  }

  nav {
    padding: 1rem 2rem !important;
  }

  .left {
    left: calc(-1 * var(--testiwidth) / 7) !important;
  }

  .right {
    left: calc(var(--testiwidth) / 7) !important;
  }

  .vb-grid-item {
    font-size: 6rem !important;
  }

  body main #contact-us {
    padding: 4rem !important;
  }

  body main #contact-us .form-input {
    width: 40vw !important;
  }

  body main #contact-us .input-btn {
    width: calc(20vw - 2.5px) !important;
  }
}

@media screen and (max-width: 950px) {
  .nav-elements {
    gap: 1rem !important;
  }

  .nav-elements a {
    font-size: 1.1rem !important;
    letter-spacing: 0 !important;
  }
}

@media screen and (min-width: 860px) {
  .menu-sign {
    visibility: hidden !important;
  }
}

@media screen and (max-width: 860px) {
  body {
    --testiwidth: 70vw;
    background-image: url("../Assets/frame2.png"),
      -webkit-gradient(linear, left top, left bottom, from(#d7f1fc), to(white));
    background-image: url("../Assets/frame2.png"),
      linear-gradient(#d7f1fc, white);
  }

  .contact-form-message {
    margin-bottom: 1.8rem !important;
  }

  .page-3 {
    position: initial !important;
  }

  .left,
  .right {
    left: 0 !important;
  }

  #move-left,
  #move-right {
    display: none !important;
  }

  .nav-elements {
    display: none !important;
  }

  .q-sign,
  .menu-sign {
    margin: 0rem 3rem;
    height: 5rem !important;
  }

  .menu-sign {
    height: 2.4rem !important;
  }

  #page-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    height: 50rem;
    margin-top: 0 !important;
  }

  #page-1 img {
    width: 70vw !important;
    -webkit-transform: translateY(-3rem) rotate(-90deg) !important;
    transform: translateY(-3rem) rotate(-90deg) !important;
    -webkit-mask-image: -webkit-gradient(
      linear,
      right top,
      left top,
      color-stop(70%, black),
      to(rgba(0, 0, 0, 0))
    );
    -webkit-mask-image: linear-gradient(to left, black 70%, rgba(0, 0, 0, 0));
    mask-image: -webkit-gradient(
      linear,
      right top,
      left top,
      color-stop(70%, black),
      to(rgba(0, 0, 0, 0))
    );
    mask-image: linear-gradient(to left, black 70%, rgba(0, 0, 0, 0));
  }

  #page-1 #home {
    width: 80vw !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center !important;
  }

  #page-1 #home .home-title {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1rem !important;
  }

  .get-vybe {
    font-size: 1rem !important;
    padding: 0.5rem 0.8rem !important;
    border-radius: 15px !important;
  }

  .vybe-extra-one {
    font-size: 1.6rem !important;
    margin-bottom: 0 !important;
    width: 90vw !important;
    letter-spacing: 0 !important;
  }

  .page-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .page-2 .ear-band-group .ear-band {
    z-index: 1 !important;
    width: 50vw !important;
    position: relative !important;
  }

  .page-2 .ear-band-group .circle {
    z-index: 0 !important;
    width: 50vw !important;
    height: 50vw !important;
    top: calc(100% - 50vw) !important;
    left: calc(50% - 30vw) !important;
  }

  .page-2 #how-it-works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    padding: 0 !important;
    margin-bottom: 5rem;
    width: 80vw !important;
  }

  .page-2 #how-it-works .hiw-title {
    font-weight: bold;
  }

  .page-2 #how-it-works .hiw-bullets {
    -ms-grid-columns: auto !important;
    grid-template-columns: auto !important;
    justify-items: center;
  }

  .page-2 #how-it-works .hiw-bullets span {
    color: #0389a6;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 0px;
  }

  .page-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .page-3 .mini-band,
  .page-3 .mini-vybe-band {
    display: block !important;
    position: relative !important;
    width: 100vw;
  }

  .page-3 .mini-band {
    margin-top: 1rem;
  }

  .page-3 .mini-vybe-band {
    margin: -1rem 0 5rem 0;
  }

  .page-3 #about-vybe {
    margin-right: 0 !important;
    width: 90vw !important;
  }

  .page-3 #about-vybe .feature {
    font-size: 1.2rem !important;
  }

  .page-3 .hand-band,
  .page-3 .vybe-band {
    display: none;
  }

  .page-3 .vybe-extra-two {
    top: 0rem !important;
    font-size: 1.4rem !important;
    width: 70vw !important;
    margin: 5rem auto !important;
  }

  .page-4 {
    margin-top: -3rem !important;
  }

  .page-4 .vb-grid {
    -ms-grid-columns: auto !important;
    grid-template-columns: auto !important;
    max-width: 500px !important;
    margin: 0 auto;
  }

  .page-4 .vb-grid .vb-grid-item {
    font-size: 8rem !important;
  }

  .page-4 .vb-grid span {
    font-size: 1.5rem !important;
  }
}

@media screen and (max-width: 800px) {
  #page-1 img {
    width: 80vw !important;
  }
}

@media screen and (max-width: 770px) {
  .contact-form-title {
    font-size: 1.6rem !important;
  }

  .contact-form-message {
    font-size: 1rem !important;
  }

  .contact-form-content a {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: 1.3rem !important;
  }
}

@media screen and (max-width: 700px) {
  #page-1 {
    height: 45rem !important;
  }

  #home {
    padding-left: 0 !important;
  }

  .q-sign {
    height: 4rem !important;
  }

  .menu-sign {
    height: 2rem !important;
  }

  .home-title {
    width: 80vw !important;
    font-size: 3rem !important;
  }

  nav {
    padding: 1rem !important;
  }

  .page-3 #about-vybe .feature {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 640px) {
  #page-1 img {
    width: 90vw !important;
  }

  .hiw-title {
    font-size: 2.6rem !important;
  }

  .hiw-content,
  .hiw-bullets span {
    font-size: 1rem !important;
  }

  .contact-form-title {
    font-size: 1.4rem !important;
  }

  .contact-form-message {
    font-size: 0.9rem !important;
    margin: 1rem 0 !important;
  }

  .contact-form-content a {
    font-size: 1rem !important;
  }

  .contact-message {
    font-size: 4rem !important;
  }
}

@media screen and (max-width: 600px) {
  body {
    --testiheight: 830px;
  }

  footer span {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 540px) {
  .doctor-image {
    width: 250px !important;
    height: 250px !important;
  }

  body {
    --testiheight: 750px;
  }

  .home-title {
    width: 90vw !important;
    font-size: 2.6rem !important;
  }

  .home-content {
    font-size: 1rem !important;
  }

  .q-sign,
  .menu-sign {
    margin: 0 !important;
  }

  #page-1 {
    height: 40rem !important;
  }

  #home {
    -webkit-transform: translateY(30px) !important;
    transform: translateY(30px) !important;
  }

  .doctor-name {
    font-size: 1.5rem !important;
  }

  .doctor-clinic,
  .doctor-id {
    font-size: 0.85rem !important;
  }

  .doctor-remarks {
    font-size: 1rem !important;
  }

  .doctor-stars {
    margin: 0 !important;
  }

  .doctor-stars img {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }

  body main #contact-us {
    padding: 4rem 2rem !important;
  }

  .form-2 {
    max-width: 50vw !important;
  }
}

@media screen and (max-width: 480px) {
  #page-1 img {
    width: 100vw !important;
  }

  body {
    background-image: url("../Assets/frame3.png"),
      -webkit-gradient(linear, left top, left bottom, from(#d7f1fc), to(white));
    background-image: url("../Assets/frame3.png"),
      linear-gradient(#d7f1fc, white);
    --testiwidth: 75vw;
  }
}

@media screen and (max-width: 450px) {
  body {
    --testiheight: 700px;
    --testiwidth: 88vw;
  }

  .home-title {
    font-size: 2.2rem !important;
    font-weight: 600 !important;
  }

  .home-content {
    width: 80vw !important;
  }

  body main #contact-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    text-align: center !important;
    gap: 3rem;
  }

  body main #contact-us .contact-message {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }

  body main #contact-us #form-1,
  body main #contact-us .form-2 {
    width: 70vw !important;
    max-width: 70vw !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }

  body main #contact-us .form-input {
    width: 70vw !important;
  }

  body main #contact-us .input-btn {
    width: calc(35vw - 2.5px) !important;
  }

  body main #contact-us .contact-form-content {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }

  body main #contact-us .contact-form-logos {
    width: 100%;
    gap: 1rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  footer span {
    width: 80vw;
    text-align: center;
  }

  .doctor-name {
    font-size: 1.3rem !important;
  }

  .doctor-clinic,
  .doctor-id {
    font-size: 0.75rem !important;
  }

  .doctor-remarks {
    font-size: 0.9rem !important;
  }
}

@media screen and (max-width: 400px) {
  #page-1 {
    height: 35rem !important;
  }

  #home {
    -webkit-transform: none !important;
    transform: none !important;
  }

  body {
    --testiheight: 630px;
  }

  .doctor-name {
    font-size: 1.15rem !important;
    margin: 0.5rem 0 !important;
  }

  .doctor-clinic {
    margin: 0 !important;
  }

  .doctor-clinic,
  .doctor-id {
    font-size: 0.65rem !important;
  }

  .doctor-remarks {
    font-size: 0.75rem !important;
  }

  .page-3 #about-vybe .feature {
    font-size: 0.85rem !important;
  }

  .page-4 .vb-grid .vb-grid-item {
    font-size: 5rem !important;
  }

  .page-4 .vb-grid span {
    font-size: 1.2rem !important;
  }
}

@media screen and (max-width: 365px) {
  nav {
    padding: 1rem 1.5rem !important;
  }

  .q-sign {
    height: 3rem !important;
  }

  .menu-sign {
    height: 1.8rem !important;
  }

  #page-1 {
    height: 32rem !important;
  }

  #home {
    padding-top: 2rem !important;
  }

  #home .home-title {
    font-size: 2rem !important;
  }

  .vybe-extra-one {
    margin: 2rem auto !important;
  }
}

@media screen and (max-width: 350px) {
  body {
    --testiheight: 660px;
  }
}
