@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@mixin flex-box($dir: "row") {
  display: flex;
  flex-direction: $dir;
  justify-content: space-between;
  align-items: center;
}

@mixin font($col, $fwt, $fsz, $ltr) {
  color: $col;
  font-weight: $fwt;
  font-size: $fsz;
  letter-spacing: $ltr;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::placeholder {
  color: #106d92;
  font-weight: bold;
  font-size: 1.1rem;
}

body {
  --testiwidth: 35vw;
  --testiheight: 800px;

  background-position: top;
  background-size: contain;
  background-image: url("../Assets/frame.png"), linear-gradient(#d7f1fc, white);
  background-repeat: no-repeat;

  overflow-x: hidden;
  font-family: "Roboto";

  aside {
    height: 100vh;
    width: 40vw;
    background-color: white;
    border-left: 1px solid darkblue;
    @include flex-box(column);
    gap: 2rem;
    position: fixed;
    z-index: 101;
    top: 0;
    justify-content: center;

    .fa-arrow-right {
      position: absolute;
      top: 3rem;
      right: 3rem;
      cursor: pointer;
      @include font(#106d92, 600, 1.6rem, 0px);

      &:hover {
        transform: translateX(10px);
        transition: transform 0.4s;
        color: #479fc2;
      }
    }

    .q-ham {
      height: 5rem;
    }

    .ham-elements {
      @include flex-box(column);
      gap: 2rem;

      .ham-link {
        text-decoration: none;
        cursor: pointer;
        @include font(#106d92, 500, 1.2rem, 0px);

        &:hover {
          color: #479fc2;
        }
      }
    }
  }

  @keyframes ham-in {
    from {
      right: -40vw;
    }
    to {
      right: 0;
    }
  }

  @keyframes ham-in-2 {
    from {
      right: -80vw;
    }
    to {
      right: 0;
    }
  }

  @keyframes ham-out {
    from {
      right: 0;
    }
    to {
      right: -40vw;
    }
  }

  @keyframes ham-out-2 {
    from {
      right: 0;
    }
    to {
      right: -80vw;
    }
  }

  header {
    nav {
      @include flex-box();
      padding: 1rem 4rem;

      .q-sign,
      .menu-sign,
      a {
        cursor: pointer;
        transition: 0.3s;
      }

      .q-sign {
        height: 5rem;
      }

      .menu-sign {
        height: 2rem;
      }

      .nav-elements {
        @include flex-box();
        gap: 1.7rem;

        a {
          @include font(#03658c, 500, 1.2rem, 1px);
          text-decoration: none;
          word-spacing: -2px;
          font-family: "Roboto Slab", serif;
          transition: 0.3s;
        }

        a:hover,
        a:focus {
          box-shadow: 0 0.5em 0.5em -0.4em #a6c6ec;
          transform: translateY(-0.3rem);
        }
      }
    }
  }

  main {
    #page-1 {
      @include flex-box();
      margin-top: 1rem;

      img {
        width: 48vw;
      }

      #home {
        padding: 4rem 10rem 0 0;
        float: right;
        text-align: right;

        .home-title {
          @include font(#03658c, 500, 3.5rem, 2px);
          @include flex-box(column);
          font-family: "Playfair Display";
          align-items: flex-end;
          margin-bottom: 1rem;

          span {
            margin-top: -1rem;
          }
        }

        .home-content {
          @include font(#2897b0, 400, 1.4rem, 1px);
          width: max-content;
        }
      }
    }

    .get-vybe {
      &:hover {
        --shadow: 0 4px 20px -2px #{rgba(#03658c, 0.5)};
        animation: shake 1s linear;
      }

      --shadow: 0 2px 8px -1px #{rgba(#03658c, 0.32)};

      margin: 2rem auto;
      width: max-content;
      padding: 0.8rem 1.5rem;
      @include font(white, 800, 2rem, 3px);
      border: 4px solid #03658c;
      border-radius: 10px;
      display: block;
      text-decoration: none;
      background: #03658c;
      box-shadow: var(--shadow);
      transition: all 0.45s ease;
    }

    .vybe-extra-one {
      @include font(#03658c, 500, 2rem, 1px);
      font-family: "Playfair Display";
      width: 75vw;
      margin: 8rem auto;
      text-align: center;
    }

    .page-2 {
      @include flex-box();
      gap: 5rem;

      #how-it-works {
        padding: 0 0 4rem 4rem;
        width: 45vw;

        .hiw-title {
          @include font(#03658c, 500, 3.3rem, 1px);
          font-family: "Playfair Display";
        }

        .hiw-content {
          margin: 1rem 0 2rem 0;
          @include font(#0389a6, 400, 1.25rem, 0px);
        }

        .hiw-bullets {
          @include font(#03658c, 400, 1rem, 0px);
          display: grid;
          grid-template-columns: 3rem auto;
          gap: 1rem;

          img {
            width: 2.2rem;
            height: 2.2rem;
          }
        }
      }

      .ear-band-group {
        margin: auto;
        position: relative;

        img {
          width: 30vw;
        }

        .ear-band {
          animation: ear-band 4s none infinite;
        }

        .circle {
          border-radius: 100%;
          background-color: white;
          position: absolute;
          z-index: -2;
          top: calc(100% - 30vw);
          left: calc(50% - 17vw);
          width: 30vw;
          height: 30vw;
        }

        .ear-frame {
          position: absolute;
          top: calc(8%);
          left: 0;
          z-index: -1;
        }
      }
    }

    .page-3 {
      background-color: #cff0fe;
      position: relative;
      top: -5rem;
      z-index: -3;

      #about-vybe {
        display: grid;
        margin: 7rem 4rem 0 0;
        width: 40vw;
        align-items: baseline;
        float: right;
        grid-template-columns: auto auto;
        gap: 1rem;

        .feature {
          @include flex-box(column);
          @include font(#015a58, 400, 0.9rem, 0px);
          gap: 1rem;
          text-align: center;
        }
      }

      .hand-band,
      .vybe-extra-two,
      .vybe-band {
        width: 100%;
        position: relative;
        top: -24rem;
      }

      .mini-band,
      .mini-vybe-band {
        display: none;
      }

      .vybe-extra-two {
        @include font(#03658c, 500, 1.2rem, 1px);
        margin: 5rem 0;
        text-align: center;
      }
    }

    .page-4 {
      margin-top: -24rem;

      .vybe-data {
        background-color: #cff0fe;

        .vb-title {
          @include font(#03658c, 400, 1.5rem, 0px);
          width: 80vw;
          font-family: "Playfair Display";
          text-align: center;
          margin: 0 auto;
        }

        .vb-grid {
          display: grid;
          grid-template-columns: auto auto auto;
          gap: 2rem;
          padding: 2rem 4rem;

          div {
            text-align: center;

            div {
              @include font(#03658c, 600, 8rem, -5px);
              font-family: "Poppins";
            }

            span {
              @include font(#002649, 400, 1.2rem, 1px);
            }
          }
        }
      }

      #testimonials {
        @include flex-box();

        .testimonial {
          position: relative;
          top: 5rem;
          margin-left: calc(50vw - (var(--testiwidth) / 2));

          .box {
            width: var(--testiwidth);
            height: var(--testiheight);
            border-radius: 50px;
            filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.17));
            padding: 3rem 2rem;
            transition: all 0.3s;
            @include flex-box(column);
            justify-content: start;
            background-color: #daf4ff;

            .doctor-image {
              width: 300px;
              height: 300px;
              border-radius: 100%;
              filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.17));
              padding: 1rem;
              background-color: #daf4ff;
            }

            .doctor-name {
              @include font(#03658c, 800, 1.7rem, 1px);
              font-family: "Playfair Display";
              margin: 2rem 0 0.5rem 0;
            }

            .doctor-clinic {
              @include font(#00354a, 400, 1rem, 0px);
              margin-top: 0.5rem;
            }

            .doctor-id {
              text-decoration: none;
              margin-bottom: 0.5rem;
              @include font(#004c6a, 400, 0.9rem, 0px);
            }

            .doctor-remarks {
              @include font(#00354a, 300, 1.1rem, 0px);
              border-top: 2px solid #004c6a;
              padding: 1rem 0;
              text-align: center;
            }

            .doctor-stars {
              @include flex-box();
              gap: 0.2rem;
              margin: 1.5rem 0 -0.5rem 0;

              img {
                height: 35px;
              }
            }
          }

          .left {
            top: 0;
            position: absolute;
            left: calc(-1 * var(--testiwidth) / 2);
          }

          .middle {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
          }

          .right {
            z-index: 1;
            top: 0;
            position: absolute;
            left: calc(var(--testiwidth) / 2);
          }

          #move-left,
          #move-right {
            position: absolute;
            top: calc(2rem + (var(--testiheight) / 2));
            color: #03658c;
            left: calc(-50vw + (var(--testiwidth) / 2) + 4rem);

            &:hover {
              color: #00354a;
              cursor: pointer;
            }
          }

          #move-right {
            left: calc(50vw + (var(--testiwidth) / 2) - 4rem);
          }
        }
      }
    }

    #contact-us {
      margin-top: calc(10rem + var(--testiheight));
      background-color: #106d92;
      color: #e6edea;
      font-family: "Playfair Display";
      @include flex-box();
      padding: 4rem 10rem;

      .contact-form {
        #form-1 {
          @include flex-box(column);
          align-items: flex-start;
          gap: 10px;

          .form-input,
          .input-btn {
            width: 28vw;
            height: 2.6rem;
            text-transform: uppercase;
            @include font(white, 600, 1.1rem, 0px);
            background-color: #71adc7;
            outline: none;
            appearance: none;
            border: none;
            border-radius: 5px;
            padding: 1rem;
          }

          div {
            @include flex-box();
            gap: 5px;

            .input-btn {
              width: calc(14vw - 2.5px);
              padding: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              @include font(white, 700, 1.2rem, 1px);

              &:hover {
                cursor: pointer;
                transition: all 0.3s;
                background-color: #5094ac;
              }
            }
          }
        }

        .form-2 {
          display: none;
          max-width: 40vw;

          .contact-form-title {
            @include font(#e6edea, 600, 2rem, 1px);
          }

          .contact-form-message {
            @include font(#e6edea, 400, 1.3rem, 0px);
            font-family: "Roboto";
            margin: 1rem 0 3rem 0;
          }

          .contact-form-content {
            @include flex-box(column);
            align-items: flex-start;

            a {
              @include font(#e6edea, 400, 1.5rem, 1px);
              text-decoration: none;

              &:hover {
                color: cyan;
                transition: all 0.3s;
              }

              &:nth-child(10n + 2) {
                margin: 1rem 0 2rem 0;
              }
            }
          }

          .contact-form-extra {
            font-family: "Roboto";
            margin: 0.5rem;
          }
        }
      }

      .contact-message {
        @include flex-box(column);
        @include font(#5094ac, 400, 5rem, 2px);
        align-items: flex-end;

        span {
          margin-top: -1rem;
        }
      }

      .contact-form-logos {
        @include flex-box();
        width: max-content;
        gap: 1rem;

        a {
          color: white;
          transition: all 0.3s;
          cursor: pointer;

          &:hover {
            color: cyan;
          }
        }
      }
    }

    footer {
      @include flex-box(column);
      padding: 2rem 0 1rem 0;
      gap: 1rem;

      span {
        @include font(#293642, 400, 1.3rem, 0px);
      }
    }
  }
}

@keyframes ear-band {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: none;
  }
}

@keyframes shake {
  1% {
    transform: translateX(1px);
  }
  5% {
    transform: translateX(-1px);
  }
  11% {
    transform: translateX(1px);
  }
  15% {
    transform: translateX(-1px);
  }
  21% {
    transform: translateX(2px);
  }
  26% {
    transform: translateX(1px);
  }
  27% {
    transform: translateX(0px);
  }
}

// MEDIA QUERIES
@media screen and (min-width: 1300px) {
  .ham {
    gap: 3rem !important;
  }

  .q-ham {
    height: 7rem !important;
  }

  .ham-link {
    font-size: 1.7rem !important;
  }

  .vybe-extra-two {
    font-size: 1.5rem !important;
    margin: 4rem auto !important;
    width: 90vw !important;
  }

  .hiw-title {
    font-size: 3.6rem !important;
  }

  .hiw-content {
    font-size: 1.4rem !important;
    line-height: 1.5rem;
  }

  .hiw-bullets {
    font-size: 1.1rem !important;

    img {
      height: 2.5rem !important;
      width: 2.5rem !important;
    }
  }

  .q-sign {
    height: 6rem !important;
  }

  .scroll {
    font-size: 1.4rem !important;
  }

  .menu-sign {
    height: 2.4rem !important;
  }

  .hand-band {
    top: -26rem !important;
  }

  .feature {
    font-size: 1.1rem !important;
  }

  .vb-title {
    font-size: 1.6rem !important;
  }

  footer span {
    font-size: 1.4rem !important;
  }
}

@media screen and (min-width: 1600px) {
  .form-input,
  .input-btn {
    height: 3rem !important;
    font-size: 1.4rem !important;
  }

  ::placeholder {
    font-size: 1.3rem !important;
  }

  .cfc-two,
  .cfc-one {
    margin: 0 !important;
    font-size: 1.7rem !important;
  }

  .contact-form-extra {
    font-size: 1.5rem !important;
  }

  .contact-form-message {
    margin: 1rem 0 !important;
    font-size: 1.6rem !important;
  }

  .contact-message {
    font-size: 6rem !important;
    line-height: 6rem !important;

    span {
      margin-bottom: 0.6rem !important;
    }
  }

  .doctor-name {
    font-size: 1.8rem !important;
  }

  .doctor-clinic {
    font-size: 1.2rem !important;
  }

  .doctor-id {
    font-size: 1.1rem !important;
  }

  .doctor-remarks {
    font-size: 1.35rem !important;
  }

  .contact-form-title {
    font-size: 2.2rem !important;
  }

  .vb-title {
    font-size: 1.7rem !important;
  }

  .vb-grid span {
    font-size: 1.4rem !important;
  }

  .contact-form-content {
    padding: 2rem 0 !important;
  }

  .vybe-extra-two {
    font-size: 1.7rem !important;
    margin-top: 2rem !important;
  }

  #about-vybe {
    width: 44vw !important;

    img {
      transform: scale(1.25) !important;
    }
  }

  .feature {
    font-size: 1.5rem !important;
  }

  .hand-band {
    top: -30rem !important;
  }

  .hiw-title {
    font-size: 4rem !important;
    font-weight: 600 !important;
  }

  .hiw-content {
    font-size: 1.5rem !important;
    letter-spacing: 1px !important;
  }

  .hiw-bullets {
    font-size: 1.4rem !important;

    img {
      height: 2.8rem !important;
      width: 2.8rem !important;
    }
  }

  .get-vybe {
    font-size: 2.6rem !important;
  }

  .home-title {
    font-size: 4.2rem !important;
  }

  .scroll {
    font-size: 1.6rem !important;
  }

  footer span {
    font-size: 1.6rem !important;
  }

  .home-content {
    font-size: 2rem !important;
  }

  .vybe-extra-one {
    margin: 6rem auto !important;
  }
}

@media screen and (min-width: 2100px) {

  .contact-form-extra{
    margin-bottom: 1.5rem !important;
  }

  .scroll {
    font-size: 1.8rem !important;
  }

  #home{
    padding-right: 20rem !important;
  }

  .home-title {
    font-size: 5.4rem !important;
  }

  .home-content{
    font-size: 2.2rem !important;
  }

  #how-it-works {
    padding: 10rem 15rem !important;

    .hiw-title{
      font-size: 4.4rem !important;
    }

    .hiw-content,
    .hiw-bullets {
      font-size: 1.8rem !important;
      line-height: normal !important;
    }

    .hiw-content{
      margin: 1rem 0 3rem 0 !important;
    }
  }

  .page-3 {
    margin-top: -1rem !important;
    padding-top: 3rem !important;

    .feature {
      font-size: 1.6rem !important;
      margin: 3rem;
      gap: 2rem !important;
    }

    .hand-band {
      top: -50rem !important;
    }

    .vybe-extra-two {
      margin-top: -15rem !important;
      font-size: 2rem !important;
    }
  }

  .vb-title{
    font-size: 2rem !important;
  }
}

@media screen and (max-width: 1160px) {
  body {
    --testiwidth: 45vw;
  }

  .left {
    left: calc(-1 * var(--testiwidth) / 3) !important;
  }

  .right {
    left: calc(var(--testiwidth) / 3) !important;
  }

  #home {
    padding-right: 2rem !important;
  }

  .home-title {
    font-size: 3.2rem !important;
  }

  .home-content {
    font-size: 1.2rem !important;
  }

  .hand-band {
    top: -18rem !important;
  }

  .vybe-extra-two {
    width: 80vw !important;
    margin: 10rem auto 3rem auto !important;
  }

  .ear-band-group {
    top: 3rem !important;
  }

  .page-3 {
    top: -2rem !important;
  }
}

@media screen and (max-width: 990px) {
  body {
    --testiwidth: 60vw;
  }

  nav {
    padding: 1rem 2rem !important;
  }

  .left {
    left: calc(-1 * var(--testiwidth) / 7) !important;
  }

  .right {
    left: calc(var(--testiwidth) / 7) !important;
  }

  .vb-grid-item {
    font-size: 6rem !important;
  }

  body main #contact-us {
    padding: 4rem !important;

    .form-input {
      width: 40vw !important;
    }

    .input-btn {
      width: calc(20vw - 2.5px) !important;
    }
  }
}

@media screen and (max-width: 950px) {
  .nav-elements {
    gap: 1rem !important;

    a {
      font-size: 1.1rem !important;
      letter-spacing: 0 !important;
    }
  }
}

@media screen and (max-width: 860px) {
  body {
    --testiwidth: 70vw;
    background-image: url("../Assets/frame2.png"),
      linear-gradient(#d7f1fc, white);
  }

  .contact-form-message {
    margin-bottom: 1.8rem !important;
  }

  .page-3 {
    position: initial !important;
  }

  .left,
  .right {
    left: 0 !important;
  }

  #move-left {
    left: calc(-50vw + (var(--testiwidth) / 2) + 1.5rem) !important;
  }

  #move-right {
    left: calc(50vw + (var(--testiwidth) / 2) - 2.5rem) !important;
  }

  .nav-elements {
    display: none !important;
  }

  .q-sign,
  .menu-sign {
    margin: 0rem 3rem;
    height: 5rem !important;
  }

  .menu-sign {
    height: 2.4rem !important;
  }

  #page-1 {
    flex-direction: column-reverse;
    height: 50rem;
    margin-top: 0 !important;

    img {
      width: 70vw !important;
      transform: translateY(-3rem) rotate(-90deg);
      mask-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 1) 70%,
        rgba(0, 0, 0, 0)
      );
    }

    #home {
      width: 80vw !important;
      // transform: translateY(-4rem);
      @include flex-box(column);
      text-align: center !important;

      .home-title {
        flex-direction: row !important;
        justify-content: center !important;
        flex-wrap: wrap;
        gap: 1rem !important;
      }
    }
  }

  .get-vybe {
    font-size: 1rem !important;
    padding: 0.5rem 0.8rem !important;
    border-radius: 15px !important;
  }

  .vybe-extra-one {
    font-size: 1.6rem !important;
    margin-bottom: 0 !important;
    width: 90vw !important;
    letter-spacing: 0 !important;
  }

  .page-2 {
    flex-direction: column-reverse;

    .ear-band-group {
      .ear-band {
        z-index: 1 !important;
        width: 50vw !important;
        position: relative !important;
      }
      .circle {
        z-index: 0 !important;
        width: 50vw !important;
        height: 50vw !important;
        top: calc(100% - 50vw) !important;
        left: calc(50% - 30vw) !important;
      }
    }

    #how-it-works {
      @include flex-box(column);
      text-align: center;
      padding: 0 !important;
      margin-bottom: 5rem;
      width: 80vw !important;

      .hiw-title {
        font-weight: bold;
      }

      .hiw-bullets {
        grid-template-columns: auto !important;
        justify-items: center;

        span {
          @include font(#0389a6, 400, 1.2rem, 0px);
        }
      }
    }
  }

  .page-3 {
    @include flex-box(column);

    .mini-band,
    .mini-vybe-band {
      display: block !important;
      position: relative !important;
      width: 100vw;
    }

    .mini-band {
      margin-top: 1rem;
    }

    .mini-vybe-band {
      margin: -1rem 0 5rem 0;
    }

    #about-vybe {
      margin-right: 0 !important;
      width: 90vw !important;

      .feature {
        font-size: 1.2rem !important;
      }
    }

    .hand-band,
    .vybe-band {
      display: none;
    }

    .vybe-extra-two {
      top: 0rem !important;
      font-size: 1.4rem !important;
      width: 70vw !important;
      margin: 5rem auto !important;
    }
  }

  .page-4 {
    margin-top: -3rem !important;

    .vb-grid {
      grid-template-columns: auto !important;
      max-width: 500px !important;
      margin: 0 auto;

      .vb-grid-item {
        font-size: 8rem !important;
      }

      span {
        font-size: 1.5rem !important;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  #page-1 img {
    width: 80vw !important;
  }
}

@media screen and (max-width: 770px) {
  .contact-form-title {
    font-size: 1.6rem !important;
  }
  .contact-form-message {
    font-size: 1rem !important;
  }

  .contact-form-content a {
    width: max-content;
    font-size: 1.3rem !important;
  }
}

@media screen and (max-width: 700px) {
  #page-1 {
    height: 45rem !important;
  }

  #home {
    padding-right: 0 !important;
  }

  .q-sign {
    height: 4rem !important;
  }

  .menu-sign {
    height: 2rem !important;
  }

  .home-title {
    width: 80vw !important;
    font-size: 3rem !important;
  }

  nav {
    padding: 1rem !important;
  }

  .page-3 #about-vybe .feature {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 640px) {
  #page-1 img {
    width: 90vw !important;
  }

  .hiw-title {
    font-size: 2.6rem !important;
  }

  .hiw-content,
  .hiw-bullets span {
    font-size: 1rem !important;
  }

  .contact-form-title {
    font-size: 1.4rem !important;
  }

  .contact-form-message {
    font-size: 0.9rem !important;
    margin: 1rem 0 !important;
  }

  .contact-form-content a {
    font-size: 1rem !important;
  }

  .contact-message {
    font-size: 4rem !important;
  }
}

@media screen and (max-width: 600px) {
  body {
    --testiheight: 830px;
  }

  footer span {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 540px) {
  .doctor-image {
    width: 250px !important;
    height: 250px !important;
  }

  body {
    --testiheight: 750px;
  }

  .home-title {
    width: 90vw !important;
    font-size: 2.6rem !important;
  }

  .home-content {
    font-size: 1rem !important;
  }

  .q-sign,
  .menu-sign {
    margin: 0 !important;
  }

  #page-1 {
    height: 40rem !important;
  }

  #home {
    transform: translateY(30px) !important;
  }

  .doctor-name {
    font-size: 1.5rem !important;
  }

  .doctor-clinic,
  .doctor-id {
    font-size: 0.85rem !important;
  }

  .doctor-remarks {
    font-size: 1rem !important;
  }

  .doctor-stars {
    margin: 0 !important;
    img {
      width: 1.5rem !important;
      height: 1.5rem !important;
    }
  }

  body main #contact-us {
    padding: 4rem 2rem !important;
  }

  .form-2 {
    max-width: 50vw !important;
  }
}

@media screen and (max-width: 480px) {
  #page-1 img {
    width: 100vw !important;
  }

  body {
    background-image: url("../Assets/frame3.png"),
      linear-gradient(#d7f1fc, white);
    --testiwidth: 75vw;
  }

  #move-right {
    left: calc(50vw + (var(--testiwidth) / 2) - 1.8rem) !important;
  }

  #move-left {
    left: calc(-50vw + (var(--testiwidth) / 2) + 1rem) !important;
  }
}

@media screen and (max-width: 450px) {
  body {
    --testiheight: 700px;
  }

  .home-title {
    font-size: 2.2rem !important;
    font-weight: 600 !important;
  }

  .home-content {
    width: 80vw !important;
  }

  body main #contact-us {
    flex-direction: column-reverse;
    text-align: center !important;
    gap: 3rem;

    .contact-message {
      align-items: center !important;
    }

    #form-1,
    .form-2 {
      width: 70vw !important;
      max-width: 70vw !important;
      align-items: center !important;
    }

    .form-input {
      width: 70vw !important;
    }

    .input-btn {
      width: calc(35vw - 2.5px) !important;
    }

    .contact-form-content {
      align-items: center !important;
    }

    .contact-form-logos {
      width: 100%;
      gap: 1rem;
      justify-content: center;
    }
  }

  footer span {
    width: 80vw;
    text-align: center;
  }

  .doctor-name {
    font-size: 1.3rem !important;
  }

  .doctor-clinic,
  .doctor-id {
    font-size: 0.75rem !important;
  }

  .doctor-remarks {
    font-size: 0.9rem !important;
  }
}

@media screen and (max-width: 400px) {
  #page-1 {
    height: 35rem !important;
  }

  #home {
    transform: none !important;
  }

  body {
    --testiheight: 630px;
  }

  .doctor-name {
    font-size: 1.15rem !important;
    margin: 0.5rem 0 !important;
  }

  .doctor-clinic {
    margin: 0 !important;
  }

  .doctor-clinic,
  .doctor-id {
    font-size: 0.65rem !important;
  }

  .doctor-remarks {
    font-size: 0.75rem !important;
  }

  .page-3 #about-vybe .feature {
    font-size: 0.85rem !important;
  }

  .page-4 .vb-grid .vb-grid-item {
    font-size: 5rem !important;
  }
  .page-4 .vb-grid span {
    font-size: 1.2rem !important;
  }
}

@media screen and (max-width: 365px) {
  nav {
    padding: 1rem 1.5rem !important;
  }

  .q-sign {
    height: 3rem !important;
  }

  .menu-sign {
    height: 1.8rem !important;
  }

  #page-1 {
    height: 32rem !important;
  }

  #home {
    padding-top: 2rem !important;

    .home-title {
      font-size: 2rem !important;
    }
  }

  .vybe-extra-one {
    margin: 2rem auto !important;
  }
}
